@import url(css_reset.css);
@import url(forms-min.css);
@import url(buttons-min.css);
.clearfix{
    clear: both;
}
.wrap{
    font-family: '微軟正黑體';
    max-width: 1000px;
    margin: 0 auto;
}
/*header start*/
.header .topbar{
    background: #000;
}

.topbar .toplist{
    float: right;
    transition: all 1s;
}

.toplist li{
    float: left;
}
.toplist li a{
    box-sizing: border-box;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    width: 100px;
    padding:15px;
    background: #000;
    border-bottom: 2px solid rgba(0,0,0,0.75);
    transition: all 0.3s;
}
.toplist li a:hover{
    background: #757575;
    border-color: #fff;
}
.topbar .logo{
    float: left;
}
.topbar .logo a{
    display: block;
    width: 150px;
    height: 30px;
    padding:20px 0px 0px 20px;
    background: url(../img/logo_w@svg.svg) no-repeat center;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
/*隱藏的漢堡選單*/
.topbar .openlist,.openlist{
    display: none;
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.openlist .underline{
    width: 80%;
    border: 1px solid #03A9F4;
    margin: 10px 0;
    transition: all 0.8s;
}
.header .banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/header_desktop.png) no-repeat;
    height: 420px;
}
.banner .bannerInfo{
    color: #fff;
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.35);
}
.bannerInfo .infoTitle{
    font-size: 28px;
    margin: 20px;
}
.bannerInfo .infoContent{
    line-height: 1.5em;
}
@media (max-width:768px){
    .topbar .toplist{
        margin: 0 auto;
    }
    .topbar .toplist,.topbar .logo{
        float: none;
    }
    .topbar .toplist li{
        width: 20%;
    }
}
@media (max-width:767px){
    .wrap{
        width: 100%;
    }
    .header .banner{
        background: url(../img/Bitmap.png) no-repeat;
    }
    /*隱藏 toplist*/
    .topbar .toplist{
        height: 0;
        overflow: hidden;
        position: absolute;
        top:50px;
        left:0;
        right: 0;
    }
    .topbar .toplist li{
       float: none;
       width: 100%;
    }
    .toplist li a{
        width: 100%;
        text-align: center;
        font-size: 20px;
        border-color: #F5F5F5;
    }
    .topbar .logo{
        float: left;
    }
    /*顯示漢堡清單*/
    .topbar .openlist{
        display: block;
    }
    /*漢堡清單的特效*/
    .open .openlist .line1{
        transform: translate(9.5px,9px) rotate(420deg);
    }
    .open .openlist .line2{
        transform: translate(-7px,-3px) rotate(-420deg);
    }
    .open .openlist .line3{
        transform: translate(1px,-0.5px) rotate(360deg);
    }
    /*開啟toplist*/
    .open .topbar .toplist{
        height: auto;
    }
}
/*header end*/

/*footer start*/
.footer{
    color: #3D1101 ;
    padding: 30px 15px;
    background: #EFE9E7	;
    margin-top: 30px;
}
.footer .left{
    width: 200px;
    float: left;
    margin-right: 20px;
}
.footer .left h3{
   font-size: 24px;
   padding-bottom: 10px;
}
.footer .contact ul{
   width: 210px;
   list-style: disc inside;
}
.footer .link{
    float: right;
}
.link h1{
    font-size: 42px;
    font-weight: bold;
    margin: 10px 20px;
}
.link p{
    margin-right:20px; 
}
.link a{
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
@media (max-width:767px){   
    .footer .left{
        float: none;
        margin: 20px auto;
    }

}
/*footer end*/

/*index Content*/
.content{
    color: #3D1101;
}
.content .charactor{
    padding: 20px;
    background: #EFE9E7;
}
.charactor .char_title{
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.5em;
    text-align: center;
}
.char_title .line{
    display: flex;
    justify-content: space-between;
}
.char_title .line div{
    width: 120px;
    border-bottom: 1px solid #3D1101;
}
.charactor .feature{
    display: flex;
    flex-wrap: wrap;
}
.feature li{
    max-width: 31.3333%;
    text-align: center;
    margin: 1%;
}
.feature h4{
    font-size: 18px;
    padding: 10px;
}
.feature p{
    text-align: left;
    line-height: 1.3em;
}
@media (max-width:767px){
    /*去除左右兩邊的線條*/
    .char_title .line div{
        display: none;
    }
    /*改成用border裝飾*/
    .charactor .char_title>div{
        border-bottom: 1px solid #000;
        margin-bottom: 10px;
    }
    .feature li{
        max-width: 98%;
    }
    .feature p{
        margin: 0 auto;
        width: 50%;
    }
}
/*index Content chef*/
.content .chef{
    max-width: 100%;
    background: #3D1101;
    text-align: center;
}
.chef img{
    float: left;
    max-width: 100%;

}
.chef .chef_description{
    float: left;
    vertical-align: top;
    text-align: left;
    color: #fff;
    max-width: 330px;
    margin-left:30px; 
}
.chef_description h3{
    margin: 50px 0px 10px 0px;
}
.chef_description h3 span{
    font-size: 16px;
}
.chef_description .name{
    font-size: 20px;
}
.chef_description p{
    line-height: 1.3em;
    margin: 10px 15px 15px 20px;
}
@media (max-width:850px) and (min-width:767px){
    /*縮小主廚圖片*/
    .chef img{
        width: 373px;
        height: 420px;
    }
}
@media(max-width:767px){
    .chef img{
        float: none;
        width: 373px;
        height: 420px;
    }
    .chef .chef_description{
        float: none;
        margin: 0 auto;
        padding: 10px;
    }

}
/*index Content comment*/
.content .comment{
    background: #EFE9E7;
    padding: 20px;
}
.comment ul{
    margin: 0 auto;
}
.comment ul li{
    float: left;
    width: 31.3333%;
    margin: 1%;
    line-height: 1.3em;
}
.comment img{
    padding-right: 5px;
    vertical-align:middle;
}
.comment .avator span{
    font-size: 20px;
    padding-left: 5px;
}
.comment .comment_description{
    width: 75%;
    margin-left: 75px;
}
.comment .job_title{
    padding-top: 10px;
    text-align: right;
}
@media(max-width:767px){
    .comment ul li{
        float: none;
        width: 98%;  
        margin-top: 20px; 
    }
}
/*index Content map*/
.content .map{
    max-width: 100%;
    background: #FAFAFA 70%;
    padding: 20px;
}
.map .map_title{
    padding: 10px;
    text-align: center;
}
.map_title p{
    line-height: 1.5em;
    font-size: 24px;
}
.map .map_content{
    display: flex;
}
.map_content .map_form{
    width: 45%;
    margin: 20px;
}
.map_content .map_form label{
    text-align: left;
    padding: 10px 0px;
}
.map_content .map_form input{
    width: 100%;
}
.map_content .map_form .question input{
    width: auto;
    position: relative;
    bottom:2px;
    right:2px;
}
.question p{
    padding: 10px 0px;
}
.question .btn{
    margin-right:10px; 
    float: right;
}
.question .cancel{
    background: gray;
}
.question .confirm{
    background: #F56C23;
}
.question .cancel:hover,.question .confirm:hover{
    background: #00E676;
}
@media (max-width:768px){
    /*縮小地圖*/
    .map_content .location{ 
        width: 100%;
    }
}
@media (max-width:767px){
     /*換行*/
     .map .map_content{
        flex-wrap: wrap;
        align-items: baseline;
     }
     .map_content .location,.map_content .map_form{
        margin:0 auto;  
     }
     .map_content .map_form{
        width: 100%;
        padding: 10px;
     }
}
@media(max-width:480px){
    .question label{
        display: inline;
    }
}
@media (max-width:414px){
    .map_content .map_form label{
        display: inline;
    }
}
/*login Content*/
.login_content{
    display: flex;
    color: #3D1101;
    background: #EFE9E7;
    justify-content: center;
}
.login_content .login{
    width: 40%;
}
.login h2{
  font-size: 32px;
  text-align: center;
  padding: 10px;
}
.login p{
    font-size: 18px;
    text-align: center;
}
.login .login_title{
    padding:40px;
}
.login .login_form{
    border-top: 2px solid #F56C23;
    margin: 20px;
    padding:20px;
    box-shadow: 0 0 2px 1px grey;
}
.login .login_form input{
    width: 100%;
    margin-bottom: 20px;
}
.login .login_form input[type='password']{
    margin-bottom: 0px;
}
.login_form a{
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 20px; 
}
.login_form p{
    font-size: 24px;
    padding: 20px;
}
.login_form .cancel{
   float: left;
   background: gray;
}
.login_form .confirm{
    float: right;
    background: #F56C23;
}
.login_form .cancel:hover,.login_form .confirm:hover{
    background: #00E676;
}
.wrap .login_footer{
    margin: 0;
}
@media(max-width:768px){
    .login_content .login{
        width: 60%;
    }
}
@media(max-width:767px){
    .login_content .login{
        width:80%;
    }
}
@media(max-width:414px){
    .login_content .login{
        width: 90%;
    }
}
/*purchase Content*/
.wrap .purchase_content{
    display: flex;
    justify-content: center;
}
.purchase_content .aside{
    width: 20%;
    margin: 1%;
}
.aside h3{
    font-size: 20px;
    padding: 10px;
}
.aside h3 img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.aside .foodlist li{
    margin-bottom: 10px;
}
.aside .foodlist a{
    display: block;
    text-decoration: none;
    color: #3D1101;
    padding: 10px;
    border-bottom: 1px solid #3D1101;
    transition: all 0.3s;
}
.aside .foodlist a:hover{
    background: #3D1101;
    color: #fff;
}
.purchase_content .section{
    width: 75%;
    margin: 1%;
}
.section .topbar{
    padding:10px;
}
.section .topbar input{
    width: 60%;
    padding: 5px;
}
.section .topbar i{
    color: #fff;
    background: #3D1101;
    margin-left: 1px;
    padding: 7px;
    position: relative;
    top:1px;
    cursor: pointer;
}
.section .topbar ul{
  float: right;
}
.section .topbar ul li{
    float: left;
    border-right:1px solid #3D1101;
    padding: 5px 10px;
}
.section .topbar ul li a{
    color: #3D1101;
    text-decoration: none;
}
.section .topbar .car{
    background: url(../img/shopping-cart-solid.svg) no-repeat;
    width: 30px;
    height: 30px;
    border: #fff;
    margin-left: 10px;
    vertical-align: baseline;
    cursor: pointer;
    padding: 0;
    position: relative;
}
.topbar .car .shop_num{
    font-size: 12px;
    text-align: center;
    color: #fff;
    width: 14px;
    height: 14px;
    padding: 1px;
    border-radius:50px; 
    background: #F56C23;
    position: absolute;
    top:-2px;
    right: -5px;
}
.section .order_section{
    display: flex;
}
.order_list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.order_list li{
    position: relative;
    width: 30.3333%;
    margin: 2% 0.5%;
    padding: 2% 1%;
    text-align: center;
    box-shadow: 0 0 1px 2px #EEEEEE;
}
@media(max-width:768px){
    /*重直排列*/
    .wrap .purchase_content{
        flex-direction: column;
    }
    /*變更寬度*/
    .purchase_content  .aside,.purchase_content .section{       
        width: 100%;
        margin: 0%;
    }
    .aside .foodlist li{
        text-align: center;
        float: left;
        margin: 10px;
        width: 22%;
    }
    .order_list{
        justify-content: space-around;
    }
    .order_list li{
        width: 46%;
    }
}
@media(max-width:767px){
    .purchase_content .aside{
        position: relative;
    }
    .aside .openlist{
        display: block;
        float: left;
        margin: 10px;
    }
    .order_list li{
        width: 97%;
    }
    .aside h3{
        float: left;
        margin-top: 10px;
    }
    .aside h3 img{
        display: none;
    }
    .aside .foodlist{
        position: absolute;
        top:62px;
        width: 100%;
        z-index: 10;
        height: 0;
        overflow: hidden;
        background: #E0E0E0;
        transition: all 0.5s;
    }
    .aside .foodlist li{
        float: none;
        width: 95%;    
    }
    /*打開foodlist*/
    .open .foodlist{
       height: auto;
    }
    .open .openlist .line1{
        transform: translate(9.5px,9px) rotate(420deg);
    }
    .open .openlist .line2{
        transform: translate(-7px,-3px) rotate(-420deg);
    }
    .open .openlist .line3{
        transform: translate(1px,-0.5px) rotate(360deg);
    }
}
@media(max-width:320px){
    .section .topbar input{
        width: 85%;
    }
    .section .topbar ul{
        margin: 10px;
    }
}
.order_list .order_pic{
    position: relative;
}
.order_pic i{
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: #000;
    padding: 5px;
}
.order_pic img{
    max-width: 100%;
}
/*產品清單右上的緞帶設計*/
.order_pic .ribbon_box{
    position: absolute;
    top:-20px;
    right: -10px;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    overflow: hidden;
}
.order_pic .ribbon{
    position: relative;
    top:20px;
    right:2px;
    width: 120%;
    text-align: center;
    padding: 5px;
    z-index: 9;
    background: #69F0AE;
    transform: rotate(45deg);
}
/*產品欄文字設計*/
.order_list h3{
    padding: 10px;
}
.order_list p{
    font-size: 12px;
}
.order_list .order_name{
    font-size: 20px;
}
.order_list hr{
    width: 80px;
}
.order_list .price{
    font-size: 20px;
    margin: 20px;
}
/*加入購物車按紐*/
.order_list .order_btn{
    color: #F56C23;
    border: 1px solid #F56C23;
    width: 90%;
    margin: 0 auto;
    background: none;
    padding: 10px 5px;
    cursor: pointer;
}
.order_list .order_btn:hover{
    color: #00E676;
    border-color:#00E676; 
}
